* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

.banner {
  background-image: url("./images/image-01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.content {
  flex-basis: 30%;
}

.content hr {
  width: 30%;
}
