img {
  width: 100%;
  display: block;
}

.navbar a,
li {
  color: white;
}

.navbar-toggler {
  line-height: normal;
}

.section-4 {
  background-image: url("./images/lights.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.section-5 {
  background-image: url("./images/media.jpg");
  background-color: rgb(45, 41, 41);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  background-image: url("./images/image1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.flex-section2 img {
  margin-top: -50px;
}

.carousel-control-prev {
  justify-content: left;
}

.carousel-control-prev i {
  font-size: 30px;
}

.carousel-control-next {
  justify-content: right;
}

.carousel-control-next i {
  font-size: 30px;
}

.card ul i {
  font-size: 25px;
  font-weight: bold;
}

.btn5 {
  color: white;
  text-align: left;
  border: none;
  background: transparent;
  width: 100%;
  text-transform: capitalize;
}

.btn5:hover {
  color: white;
}

.acc-section {
  background-color: rgb(57, 56, 56);
}
