@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif; /* var.$font-family-base */
  font-size: 1rem; /* var.$font-size-base */
  font-weight: 400; /* var.$font-weight-base */
  line-height: 1.5; /* var.$line-height-base */
  color: #000; /* var.$text-color-base */
  margin: 0;
}

h1,
h2,
h3 {
  margin-bottom: 0.9375rem; /* math.div(var.$gutter-base, 2) */
  line-height: 1; /* var.$line-height-small */
  font-weight: 700; /* var.$font-weight-bold */
}

h1 {
  font-size: 3.75rem; /* var.$heading-size-bigger */

  @media (max-width: 425px) {
    font-size: 2.75rem; /* var.$heading-size-big */
  }
}

h2 {
  font-size: 2.75rem; /* var.$heading-size-big */

  @media (max-width: 425px) {
    font-size: 1.75rem; /* var.$heading-size-small */
  }
}

h3 {
  font-size: 1.5625rem; /* var.$heading-size-tiny */

  @media (max-width: 425px) {
    font-size: 1.25rem; /* var.$font-size-medium */
  }
}

/* BANNER */

.banner {
  background-image: url("../public/116-3504x2336.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-blend-mode: multiply;
  object-fit: contain;
  height: 70vh;
  display: flex;
  position: relative;
}

.banner-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 30%;
  left: 50%;
  left: 10%;
}

.banner-content span {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-content h1 {
  color: white;
  margin: 0;
}

.banner-content button {
  width: 30%;
  padding: 10px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  border: none;
}

/* BANNER */

/* DETAILS-BLOCK */

.block-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.block-content {
  flex-direction: column;
  flex-basis: 50%;
  margin-right: 60px;
}

.block-content span {
  text-transform: uppercase;
  color: #de8662;
}
.block-content h2 {
  margin-top: 10px;
}

.block-details img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

/* DETAILS-BLOCK */

/* PLACES-CONTAINER */

.places-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.place-div {
  position: relative;
  overflow: hidden;
  flex-basis: 33.33%;
}

.place-img {
  background-color: #b2380a61;
  background-size: cover;
  background-position: center top;
  height: 400px;
  background-blend-mode: multiply;
}

.place-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.place-content h2 {
  margin: 0;
}

/* PLACES-CONTAINER */

/* FOOTER */

.footer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.footer a {
  color: #de8662;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
  padding: 10px;
}

/* FOOTER */

/* TABLET RESPONSIVE */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .banner-content {
    left: 0%;
    padding-left: 20px;
  }

  .block-details {
    padding: 30px 10px;
  }

  .block-details img {
    height: 300px;
    width: 300px;
  }

  .place-div {
    flex-basis: 50%;
  }

  .footer {
    padding: 30px;
  }
}

/* TABLET RESPONSIVE */

/* MOBILE RESPONSIVE */
@media screen and (max-width: 425px) {
  .banner-content {
    width: 100%;
    left: 0%;
    padding: 10px;
  }

  .banner-content button {
    width: 100%;
  }

  .block-details {
    flex-direction: column;
    padding: 30px 10px;
  }

  .block-details img {
    width: 400px;
    height: 400px;
  }

  .places-container {
    flex-direction: column;
  }

  .place-div {
    flex-basis: 100%;
  }

  .footer {
    padding: 30px;
  }
}

/* MOBILE RESPONSIVE */
